{% extends 'accounts/main.html' %}
{% load static %}
{% block content %}
    </br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-body text-center">
                <p>Are you sure you want to delete "{{ item.product.name }}"</p>
                <form action="{% url 'delete_order' item.id %}" method="POST">
                    {% csrf_token %}
                    <a class="btn btn-small btn-info" href="{% url 'home' %}">Cancel</a>
                    <input class="btn btn-small btn-danger" type="submit" name="Delete">
                </form>
            </div>
        </div>

    </div>

{% endblock %}